*.iml
.gradle
COVID_19info/local.properties
COVID_19info/.idea/caches
COVID_19info/.idea/libraries
COVID_19info/.idea/modules.xml
COVID_19info/.idea/workspace.xml
COVID_19info/.idea/navEditor.xml
COVID_19info/.idea/assetWizardSettings.xml
.DS_Store
COVID_19info/build
COVID_19info/captures
.externalNativeBuild
.cxx
local.properties
