<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.covid_19info">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COVID_19info">
        <activity
            android:name=".parsingActivity"
            android:exported="true"
            android:label="@string/title_activity_parsing"
            android:theme="@style/Theme.COVID_19info.NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBiPAo0XvXI3oLOq-Z7wJ2XJPsUmKh40J0" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.COVID_19info.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
    </application>

</manifest>