<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19info">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COVID_19info">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.COVID_19info.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="map_activity_main"
            android:theme="@style/Theme.COVID_19info.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerActivity"
            android:exported="true"
            android:theme="@style/Theme.COVID_19info.NoActionBar"/>
        <activity
            android:name=".UserInfoActivity"
            android:exported="true"
            android:theme="@style/Theme.COVID_19info.NoActionBar"/>
        <activity
            android:name=".PasswordChangeActivity"
            android:exported="true"
            android:theme="@style/Theme.COVID_19info.NoActionBar"/>

        <receiver
            android:name=".LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.covid_19info.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
    </application>

</manifest>